#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  padding-top: 2%;
  position: relative;
  z-index: 1000;
}

#title {
  font-size: 25px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.navList {
  display: flex;
  align-items: center;
}

.navListItem {
  margin: 0 12px;
}

.navLink {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: black;
  font-weight: 600;
}

.navLink:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #1a4c3c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#lastItem {
  margin-right: 0;
}

#contactBtn {
  background: #0d261e;
  color: white;
  padding: 15px 17px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 17.65px;
  transition: all 0.3s ease-in-out;
}

#contactBtn:hover {
  background: #1a4c3c;
}

#icon {
  display: none;
}

#iconVisible {
  display: block;
  align-self: flex-end;
  color: black;
}

.hidden {
  display: none !important;
}

#mobileOpen {
  display: flex !important;
  flex-direction: column;
}

.mobileHeader {
  flex-direction: column !important;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.mobileTitle {
  margin-bottom: 25px;
}

#closeHeading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#icon {
  cursor: pointer;
}

@media only screen and (max-width: 1030px) {
  #icon {
    display: block;
    color: black;
  }
  .navList {
    display: none;
    padding: 0 !important;
    margin: 0 !important;
  }
  #header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navListItem {
    margin: 15px 0 !important;
  }
}
